@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: normal;
}
.small-font{
    font-size:1rem;
    font-weight: 500;
}
.big-font{
    font-weight:bold;
    font-size:2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
}
.link{
    display: flex;
    justify-content: space-around;
}
.link li{
    list-style: none;
    margin-right: 35px;
}
.link li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1)
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    padding: 20px 25px;
    margin: 15px 0;
    border-radius: 8px;
    border: none;
    font-weight:37rem;
    color: aliceblue;
    background-color: #FF900E;
}
.dark2{
    color: rgba(66, 66, 66, 1);
    font-size: 0.75rem;
    font-weight: normal;
    margin-bottom: 25px;
}
.banner-big-font{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 25px;
}
.banner-content{
    max-width: 856px;
    margin: 0 auto;
    text-align: center;
}
.banner-img{
    max-width: 1440px;
    margin: 0 auto;
    
}
.banner{
    max-width: 1400px;
    margin: 0 auto;
}
.banner-img{
    width: 100%;
    margin: 15px auto;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin:20px 20px;
    width: 100%;
}
.img-and-write{
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}
.main-small-font{
    font-size:0.7rem;
    font-weight: 500;
    color: rgba(114, 114, 114, 1);
}
.main-big-font{
    color: rgba(114, 114, 114, 1)
}
.color-word{
    color:rgba(255, 144, 14, 1)
}
.write-container{
    max-width: 537px;
    margin: auto auto;
}
.littlediv{
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
}
.padding{
    padding: 30px 42px;
    margin: 20px 0;
}
.main2-head{
    max-width: 500px;
    border-radius: 8px;
}
.main2{
    max-width: 1370px;
    margin: 20px auto;
    display: flex;
    gap: 80px;
}
.abn-btn{
    margin-top: -100px;
    margin-left: -50px;
    font-size: 1rem;
    width: 200px;

}
.img-2{
    width: 100%;
}
.last-section{
    max-width: 1370px;
    margin: 50px auto;
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px 40px;
    margin-top: 50px;
    text-align: center;
}
.control{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer{
    text-align: center;
    margin: 100px 100px;
}
.footer-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 50px;
}
.footer-end{
    background-color:rgba(255, 244, 231, 1) ;
    text-align: center;
    margin-top: 50px;
    padding: 10px 20px;
}
@media screen and (max-width:576px) {
    .navbar,
    .link li,
    .img-and-write,
    .main2
    {
        flex-direction: column;
    }
    .img-container{
        grid-template-columns:repeat(1,1fr) ;
        width: 100%;
    }
}




